<div class="body-login">
  <div class="login">
  		<div class="login-screen">
  			<div class="app-title">
        <h2>Edit <%= resource_name.to_s.humanize %></h2><br>
        </div>
        <div class="row">
        <div class="login-form">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
          
            <div class="control-group">
              <%= f.label :whichmodel, 'Select Your Need' %><br />
              <%= f.select :whichmodel, ['Business', 'Residential']%><br>
            </div>
            
            <div class="control-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %><br>
            </div>
            
            <div class="control-group">
              <%= f.label :names, 'Companys Name or Persons Name' %><br />
              <%= f.text_field :name, autofocus: true %><br>
            </div>
            
            <div class="control-group">
              <%= f.label :lines, 'Number of Users' %><br />
              <%= f.number_field :lines, autofocus: true, input_html: { min: '1', step: 'any' } %><br>
            </div>
            
            <div class="control-group">
              
              <%= f.label :phone, 'Phone Number' %><br />
              <%= f.text_field :phone, autofocus: true %><br>
            </div>
          
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
          
            <div class="control-group">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "off" %><br>
            </div>
          
            <div class="control-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %><br>
            </div>
          
            <div class="control-group">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "off" %><br>
            </div>
          
            <div class="wrapper-v-lg">
              <%= f.submit "Update", class: 'btn btn-primary btn-large btn-block' %>
            </div>
          <% end %>
          
          <h3>Cancel my account</h3>
          
          <div class="wrapper-v-lg">
          <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-primary btn-large btn-block' %></p>
          </div>
          <%= link_to "Back", :back %>
          </div>
        </div>
  		</div>
  </div>
</div>