<div class="body-login">
  <div class="login">
  		<div class="login-screen">
  			<div class="app-title">
        <h2>Sign up</h2><br>
        </div>
        <div class="row">
        <div class="login-form">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            
            <div class="control-group">
              <%= f.label :whichmodel, 'Select Your Need' %><br />
              <%= f.select :whichmodel, ['Business', 'Residential']%>
            </div>
            
            <div class="control-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>
            
            <div class="control-group">
              <%= f.label :names, 'Companys Name or Persons Name' %><br />
              <%= f.text_field :name, autofocus: true %>
            </div>
            
            <div class="control-group">
              <%= f.label :lines, 'Number of Users' %><br />
              <%= f.number_field :lines, autofocus: true, input_html: { min: '0', step: 'any' } %>
            </div>
            
            <div class="control-group">
              <%= f.label :phone, 'Phone Number' %><br />
              <%= f.text_field :phone, autofocus: true %>
            </div>
          
            <div class="control-group">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
          
            <div class="control-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
          
            <div class="wrapper-v-lg">
              <%= f.submit "Sign up", class: 'btn btn-primary btn-large btn-block' %>
            </div>
          <% end %>
    
          <%= render "devise/shared/links" %>
          </div>
        </div>
  		</div>
  </div>
</div>