<section id="company" class="bg-white section-p-sm">
    <div class="container reveal-bottom-opacity">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-md-0 col-sm-offset-0 wrapper-v-lg">
          <div class="row">

            <!-- Contact Details -->
            <div class="col-sm-4 wrapper-v-sm block-line">

              <!-- Icon -->
              <div class="block icon-md icon-color">
                <i class="fa fa-map"></i>
              </div>
              <!-- /End Icon -->

              <!-- Address -->
              <div class="block text-left">
                <p>45 Park Avenue,<br>
                  New York, NY 10016</p>
              </div>
              <!-- /End Address -->

            </div>
            <!-- /End Contact Details -->

            <!-- Contact Details -->
            <div class="col-sm-4 wrapper-v-sm block-line">

              <!-- Icon -->
              <div class="block icon-md icon-color">
                <i class="fa fa-paper-plane"></i>
              </div>
              <!-- /End Icon -->

              <!-- Address -->
              <div class="block text-left">
                <p><a class="link-dark" href="mailto:contact@dialholic.com">contact@dialholic.com</a>
                </p>
              </div>
              <!-- /End Address -->

            </div>
            <!-- /End Contact Details -->

            <!-- Contact Details -->
            <div class="col-sm-4 wrapper-v-sm block-line">

              <!-- Icon -->
              <div class="block icon-md icon-color">
                <i class="fa fa-phone"></i>
              </div>
              <!-- /End Icon -->

              <!-- Address -->
              <div class="block text-left">
                <p>Tel.<a class="link-dark" href="tel:018328292659"> +1 832-829-2659</a></p>
              </div>
              <!-- /End Address -->

            </div>
            <!-- /End Contact Details -->

          </div>
        </div>
      </div>
    </div>
  </section>