<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">


  <!-- Favicon -->

  <!-- Bootstrap CSS -->

  <!-- Font Icons -->

  <!-- Google Fonts -->
  <link rel="stylesheet" type="text/css"
        href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic">

  <!-- Plugins CSS -->

  <!-- Custom CSS -->

  <!-- Color CSS -->
  <!--
  <link rel="stylesheet" href="css/color/turquoise.css"/>
  <link rel="stylesheet" href="css/color/green-light.css"/>
  <link rel="stylesheet" href="css/color/green.css"/>
  <link rel="stylesheet" href="css/color/blue-dark.css"/>
  <link rel="stylesheet" href="css/color/violet.css"/>
  <link rel="stylesheet" href="css/color/violet-red.css"/>
  <link rel="stylesheet" href="css/color/pink.css"/>
  <link rel="stylesheet" href="css/color/red.css"/>
  <link rel="stylesheet" href="css/color/orange.css"/>
  <link rel="stylesheet" href="css/color/yellow.css"/>
  <link rel="stylesheet" href="css/color/gold.css"/>
  -->

  <!-- Responsive CSS -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body data-target="#main-navbar">


<!-- Preloader -->
<% content_for :navbar do %>
      <%= render 'layouts/header1' %>
 <% end %>

<!-- Main -->


  <!-- ============================
       Hero Section
  ================================= -->

  <section id="hero-image" class="hero-image hero-p-v3 pos-relative ov-hidden">

    <!-- Color Overlay -->
    <div class="section-overlay bg-color-light opacity-90"></div>
    <!-- /End Color Overlay -->

    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center wrapper-v-lg">

          <!-- Headline -->
          <h1>SMART BUSINESS PHONES</h1>
          <!-- /End Headline -->

          <!-- Description -->
          <p>Make your telephone line smarter and easier in every possible way. 
              It will increase your productivity and decrease cost at the same time</p>
          <!-- /End Description -->

          <!-- Button -->
          <div class="wrapper-v-lg">
            <a href="#pricing" class="btn btn-color smooth-scroll" role="button">Start Your Free Trial</a>
          </div>
          <!-- /End Button -->

        </div>
        <!-- Hero Smartphone Image -->
        
        <!-- /End Hero Smartphone Image -->

      </div>
    </div>
  </section>


  <!-- ============================
       Download Section
  ================================= -->

  <section id="download" class="bg-light section-p-lg">
    <div class="container wrapper-h-xs-lg reveal-bottom-opacity">
      <div class="row">

        <!-- Headline & Description-->
        <div class="col-sm-8 col-sm-offset-2 wrapper-v-lg text-center">
          <h2>Improve With The Technology</h2><br>

          <p>Changing technology effects business immensely and therefore we pleadge to bring these new technology to you at
              a very affordable price.</p>
        </div>
        <!-- /End Headline & Description-->

        <!-- Buttons -->
        <div class="col-sm-6 col-sm-offset-3 wrapper-v-lg text-center">
          <a href="#" class="btn btn-color smooth-scroll">
            <i class="fa fa-rocket"></i>Learn About 40+ Features</a>
        </div>
        <!-- /End Buttons -->

      </div>

      <!-- Download Smartphone Image -->
      
      <!-- /End Download Smartphone Image -->

    </div>
  </section>



  <!-- ============================
       Services Section
  ================================= -->

  <section id="function" class="bg-white section-p-lg">
    <div class="container wrapper-h-xs-lg reveal-bottom-opacity">
      <div class="row">

        <!-- Headline -->
        <div class="col-sm-8 col-sm-offset-2 wrapper-v-lg text-center">
          <h2 class="text-center">Because You Deserve More Than Just a Telephone</h2><br><br>
        </div>
        <!-- /End Headline -->

        <!-- Services Block 1 -->
        <div class="col-sm-6 col-lg-3 wrapper-v-lg text-center">

          <!-- Icon -->
          <div class="icon-lg icon-color icon-size">
            <i class="fa fa-usd" aria-hidden="true"></i>
          </div>
          <!-- /End Icon -->

          <!-- Description -->
          <h4>REDUCE PHONE COST</h4>

          <p>
            Our phone service helps you to reduce cost upto 50%.
          </p>
          <!-- /End Description -->

        </div>
        <!-- /End Services Block 1 -->

        <!-- Services Block 2 -->
        <div class="col-sm-6 col-lg-3 wrapper-v-lg text-center">

          <!-- Icon -->
          <div class="icon-lg icon-color icon-size">
            <i class="fa fa-thumbs-up"></i>
          </div>
          <!-- /End Icon -->

          <!-- Description -->
          <h4>FLEXIBLE & SCALABLE</h4>

          <p>
            Take phone where every you go, plus add as many line as you want as many time you want.
          </p>
          <!-- /End Description -->

        </div>
        <!-- /End Services Block 2 -->

        <!-- Services Block 3 -->
        <div class="col-sm-6 col-lg-3  wrapper-v-lg text-center">

          <!-- Icon -->
          <div class="icon-lg icon-color icon-size">
            <i class="fa fa-line-chart"></i>
          </div>
          <!-- /End Icon -->

          <!-- Description -->
          <h4>ELEVATE YOUR BUSINES</h4>

          <p>
            It helps tou to increase productivity upto 20%.
          </p>
          <!-- /End Description -->

        </div>
        <!-- /End Services Block 3 -->

        <!-- Services Block 4 -->
        <div class="col-sm-6 col-lg-3  wrapper-v-lg text-center">

          <!-- Icon -->
          <div class="icon-lg icon-color icon-size">
            <i class="fa fa-hand-paper-o"></i>
          </div>
          <!-- /End Icon -->

          <!-- Description -->
          <h4>AMAZING SERVICE</h4>

          <p>
            Experiance it and you will know it.
          </p><br><br><br>
          <!-- /End Description -->

        </div>
        <!-- /End Services Block 4 -->
        

      </div>
    </div>
  </section>

  <!-- ============================
       Function Section (how work)
  ================================= -->

  


  <!-- ============================
       Function 2 Section
  ================================= -->

  


  <!-- ============================
       Features Section
  ================================= -->

  





  <!-- ============================
       Pricing Section
  ================================= -->

  


  <!-- ============================
       Video Section
  ================================= -->

  


  <!-- ============================
       Testimonials Section
  ================================= -->

  


  <!-- ============================
       Newsletter Section
  ================================= -->

  


  <!-- ============================
        Partner Section
  ================================= -->

  


  <!-- ============================
       Gallery Section
  ================================= -->

  


  <!-- ============================
       Facts Section
  ================================= -->

  


  <!-- ============================
       Contact Section
  ================================= -->

  


  <!-- ============================
       Company Section
  ================================= -->

  


  <!-- ============================
       Footer
  ================================= -->


<!-- /End Main -->

<!-- Back to Top Button -->
<a href="#page" class="btn-circle btn-circle-lg btn-color btn-top smooth-scroll">
  <i class="fa fa-angle-up"></i>
</a>
<!-- /End Back to Top Button -->


<!-- Scripts -->
<!-- Custom Script -->
</body>
</html>