<section id="pricing" class="bg-white section-p-lg">
    <div class="container  wrapper-h-xs-lg reveal-bottom-opacity vcenter">
      <div class="row">

        <!-- Headline & Description-->
        <div class="col-sm-8 col-sm-offset-2 wrapper-v-lg text-center">
          <h2>Our Plans</h2>

          <p>Itatendam utentotatiat volupta expero ma volorum quiam vel estioreped
            erae rendipsa nulluptur ressunt eatistis etur, eatisti aut militat. Ate reicipid
            quidestia vent.</p>
        </div>
        <!-- /End Headline & Description-->

      </div>

      <div class="row">
        <!-- Pricing Block 1 -->
        <div class="col-sm-4 wrapper-v-lg wrapper-h-xs-md text-center col-md-offset-2">
          <div class="price-plan">
            <h4 class="text-uppercase">Starter</h4>

            <!-- Price -->
            <div class="price-marker">
              <p class="price">$0<span class="price-cent">97</span><br>
                <span class="price-period">/day/user</span></p>
            </div>
            <!-- /End Price -->

            <!-- Price Details -->
            <ul class="price-details">
              <li>5 Projects</li>
              <li>5 GB of Storage</li>
              <li>Up to 10 Users</li>
              <li>Security Suite</li>
            </ul>
            <!-- /End Price Details -->

            <!-- Button -->
            <div class="wrapper-v-md">
              <a>
                <%= link_to "Sign Up", new_subscriber_path, method: :get, class: "btn btn-sm btn-border-silver smooth-scroll" %>
              </a>
            </div>
            <!-- /End Button  -->

          </div>
        </div>
        <!-- /End Pricing Block 1 -->

        <!-- Pricing Block 2 -->
        <div class="col-sm-4 wrapper-v-lg wrapper-h-xs-md text-center ">
          <div class="price-plan">
            <h4 class="text-uppercase">Premium</h4>

            <!-- Price -->
            <div class="price-marker">
              <p class="price">$0<span class="price-cent">87</span><br>
                <span class="price-period">/day/user</span></p>
            </div>
            <!-- /End Price -->

            <!-- Price Details -->
            <ul class="price-details">
              <li>50 Projects</li>
              <li>10 GB of Storage</li>
              <li>Up to 100 Users</li>
              <li>Security Suite</li>
            </ul>
            <!-- /End Price Details -->

            <!-- Button -->
            <div class="wrapper-v-md">
              <a>
                <%= link_to "Sign Up", new_subscriber_path, method: :get, class: "btn btn-sm btn-border-silver smooth-scroll" %>
              </a>
            </div>
            <!-- /End Button -->

          </div>
        </div>
        <!-- /End Pricing Block 2 -->

        <!-- Pricing Block 3 -->
        
        <!-- Pricing Block 3 -->

      </div>
    </div>
</section>