<section id="features" class="bg-white section-p-lg">
    <div class="container wrapper-h-xs-lg reveal-bottom-opacity">
      <div class="row">

        <!-- Headline -->
        <div class="col-sm-8 col-sm-offset-2 wrapper-v-lg text-center">
          <h2>Your Business Deserve a Better Phone</h2>
        </div>
        <!-- /End Headline -->

      </div>
      <div class="row vert-middle-md">

        <!-- Features Left -->
        <div class="col-md-3 col-sm-6 features-left wrapper-v-md wrapper-h-xs-lg">
          <div class="reveal-left-10">

            <!-- Icon -->
            <div class="icon-md icon-color">
              <i class="icon icon-software-paintbucket"></i>
            </div>
            <!-- /End Icon -->

            <!-- Description -->
            <h4>UNIFIED COMMUNICATIONS</h4>

            <p>Use tour number in all three major screen(mobile, computer, phone).</p>
            <!-- /End Description -->

            <!-- Icon -->
            <div class="icon-md icon-color">
              <i class="icon icon-basic-picture"></i>
            </div>
            <!-- /End Icon -->

            <!-- Description -->
            <h4>GO MOBILE</h4>

            <p>Take your business where ever you go.</p>
            <!-- /End Description -->

            <!-- Icon -->
            <div class="icon-md icon-color">
              <i class="icon icon-basic-gear"></i>
            </div>
            <!-- /End Icon -->

            <!-- Description -->
            <h4>INDUSTRY EXPERTISE</h4>

            <p>Our team help you to accomplish your industrial need, to become an expert communicator.</p>
            <!--/End Description -->

          </div>
        </div>
        <!-- /End Features Left -->

        <!-- Features Right -->
        <div class="col-md-3 col-md-push-6 col-sm-6  wrapper-v-md features-right wrapper-h-xs-lg">
          <div class="reveal-right-10">

            <!-- Icon -->
            <div class="icon-md icon-color">
              <i class="icon icon-software-font-vertical-scale"></i>
            </div>
            <!-- /End Icon -->

            <!-- Description -->
            <h4>SECURE NETWORK</h4>

            <p>A very secure network to keep all your work safe.</p>
            <!-- /End Description -->

            <!-- Icon -->
            <div class="icon-md icon-color">
              <i class="icon icon-ecommerce-diamond"></i>
            </div>
            <!-- /End Icon -->

            <!-- Description -->
            <h4>PROFESSIONAL APPEARANCE</h4>

            <p>Client deals with professional appearance. Deliver them with large cooperate appearance</p>
            <!-- /End Description -->

            <!-- Icon -->
            <div class="icon-md icon-color">
              <i class="icon icon-ecommerce-gift"></i>
            </div>
            <!-- /End Icon -->

            <!-- Description -->
            <h4>40+ FEATURES</h4>

            <p>Unbeilevale 40+ free feature to improve your productivity.</p>
            <!-- /End Description -->

          </div>
        </div>
        <!-- /End Features Right -->

        <!-- Features Smartphone Image -->
        <div
            class="col-md-6 col-md-offset-0 col-md-pull-3 col-sm-8 col-sm-offset-2 text-center wrapper-v-lg">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1 wrapper-h-xs-lg">
              <%= image_tag("features-device.png", :alt => "", :class => "img-responsive reveal-bottom-20") %>
            </div>
          </div>
        </div>
        <!-- /End Features Smartphone Image -->

      </div>
    </div>
  </section>