<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">


  <!-- Favicon -->

  <!-- Bootstrap CSS -->

  <!-- Font Icons -->

  <!-- Google Fonts -->
  <link rel="stylesheet" type="text/css"
        href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic">

  <!-- Plugins CSS -->

  <!-- Custom CSS -->

  <!-- Color CSS -->
  <!--
  <link rel="stylesheet" href="css/color/turquoise.css"/>
  <link rel="stylesheet" href="css/color/green-light.css"/>
  <link rel="stylesheet" href="css/color/green.css"/>
  <link rel="stylesheet" href="css/color/blue-dark.css"/>
  <link rel="stylesheet" href="css/color/violet.css"/>
  <link rel="stylesheet" href="css/color/violet-red.css"/>
  <link rel="stylesheet" href="css/color/pink.css"/>
  <link rel="stylesheet" href="css/color/red.css"/>
  <link rel="stylesheet" href="css/color/orange.css"/>
  <link rel="stylesheet" href="css/color/yellow.css"/>
  <link rel="stylesheet" href="css/color/gold.css"/>
  -->

  <!-- Responsive CSS -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body data-target="#main-navbar">


<!-- Preloader -->
<% content_for :navbar do %>
      <%= render 'layouts/header1' %>
 <% end %>

<!-- Main -->


  <!-- ============================
       Hero Section
  ================================= -->

  <section id="hero-image" class="hero-image-v2 hero-p-v3 pos-relative ov-hidden">

    <!-- Color Overlay -->
    <div class="section-overlay bg-color-light opacity-90"></div>
    <!-- /End Color Overlay -->

    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center wrapper-v-lg">

          <!-- Headline -->
          <h1>SMART HOME PHONE</h1>
          <!-- /End Headline -->

          <!-- Description -->
          <p>Make your telephone line smarter and easier in every possible way. 
              It will increase your productivity and decrease cost at the same time</p>
          <!-- /End Description -->

          <!-- Button -->
          <div class="wrapper-v-lg">
            <a href="#pricing" class="btn btn-color smooth-scroll" role="button">Buy Now $0.84*</a>
          </div>
          <!-- /End Button -->

        </div>
        <!-- Hero Smartphone Image -->
        
        <!-- /End Hero Smartphone Image -->

      </div>
    </div>
  </section>


  <!-- ============================
       Services Section
  ================================= -->

  <section id="function" class="bg-white section-p-lg">
    <div class="container wrapper-h-xs-lg reveal-bottom-opacity">
      <div class="row">

        <!-- Headline -->
        <div class="col-sm-8 col-sm-offset-2 wrapper-v-lg text-center">
          <h2 class="text-center">It's Awesome</h2>
        </div>
        <!-- /End Headline -->

        <!-- Services Block 1 -->
        <div class="col-sm-6 col-lg-3 wrapper-v-lg text-center">

          <!-- Icon -->
          <div class="icon-lg icon-color icon-size">
            <i class="fa fa-usd" aria-hidden="true"></i>
          </div>
          <!-- /End Icon -->

          <!-- Description -->
          <h4>REDUCE PHONE COST</h4>

          <p>
            Our phone service helps you to reduce cost upto 50%.
          </p>
          <!-- /End Description -->

        </div>
        <!-- /End Services Block 1 -->

        <!-- Services Block 2 -->
        <div class="col-sm-6 col-lg-3 wrapper-v-lg text-center">

          <!-- Icon -->
          <div class="icon-lg icon-color icon-size">
            <i class="fa fa-thumbs-up"></i>
          </div>
          <!-- /End Icon -->

          <!-- Description -->
          <h4>FLEXIBLE & SCALABLE</h4>

          <p>
            Take phone where every you go, plus add as many line as you want as many time you want.
          </p>
          <!-- /End Description -->

        </div>
        <!-- /End Services Block 2 -->

        <!-- Services Block 3 -->
        <div class="col-sm-6 col-lg-3  wrapper-v-lg text-center">

          <!-- Icon -->
          <div class="icon-lg icon-color icon-size">
            <i class="fa fa-line-chart"></i>
          </div>
          <!-- /End Icon -->

          <!-- Description -->
          <h4>INCREASE PRODUCTIVITY</h4>

          <p>
            It helps tou to increase productivity upto 20%.
          </p>
          <!-- /End Description -->

        </div>
        <!-- /End Services Block 3 -->

        <!-- Services Block 4 -->
        <div class="col-sm-6 col-lg-3  wrapper-v-lg text-center">

          <!-- Icon -->
          <div class="icon-lg icon-color icon-size">
            <i class="fa fa-hand-paper-o"></i>
          </div>
          <!-- /End Icon -->

          <!-- Description -->
          <h4>AMAZING SERVICE</h4>

          <p>
            Experiance it and you will know it.
          </p>
          <!-- /End Description -->

        </div>
        <!-- /End Services Block 4 -->

      </div>
    </div>
  </section>

  <!-- ============================
       Function Section (how work)
  ================================= -->

  


  <!-- ============================
       Function 2 Section
  ================================= -->

  


  <!-- ============================
       Features Section
  ================================= -->

  


  <!-- ============================
       Download Section
  ================================= -->

  <section id="download" class="bg-light section-p-lg">
    <div class="container wrapper-h-xs-lg reveal-bottom-opacity">
      <div class="row">

        <!-- Headline & Description-->
        <div class="col-sm-8 col-sm-offset-2 wrapper-v-lg text-center">
          <h2>Save Your Money</h2>

          <p>Changing technology reduces price for major product and give you more feature. Dailholic exactly provide 
              you with such amazing service.</p>
        </div>
        <!-- /End Headline & Description-->

        <!-- Buttons -->
        <div class="col-sm-6 col-sm-offset-3 wrapper-v-lg text-center">
          <a href="#" class="btn btn-color smooth-scroll">
            <i class="fa fa-rocket"></i>Learn About 40+ Features</a>
        </div>
        <!-- /End Buttons -->

      </div>

      <!-- Download Smartphone Image -->
      
      <!-- /End Download Smartphone Image -->

    </div>
  </section>


  <!-- ============================
       Pricing Section
  ================================= -->

  <section id="pricing" class="bg-white section-p-lg">
    <div class="container reveal-bottom-opacity">
      <div class="row text-center">

        <!-- Headline & Description-->
        <div class="col-sm-8 col-sm-offset-2 wrapper-v-lg text-center">
          <h2>Simple Plans</h2>

          <p>Pay less then a gum for your phone line.</p>
        </div>
        <!-- /End Headline & Description-->

      </div>

      <div class="row">
        <!-- Pricing Block 1 -->
        <div class="col-sm-4 wrapper-v-lg wrapper-h-xs-md text-center col-md-offset-4">
          <div class="price-plan">
            <h4 class="text-uppercase">Starter</h4>

            <!-- Price -->
            <div class="price-marker">
              <p class="price">$0<span class="price-cent">84*</span><br>
                <span class="price-period">/day/user</span></p>
            </div>
            <!-- /End Price -->

            <!-- Price Details -->
            <ul class="price-details">
              <li>Unlimited US and Canada calling</li>
              <li>1 Phone number included</li>
              <li>40+ amazing features</li>
              <li>Full Customer Service</li>
              <li>learn more</li>
            </ul>
            <!-- /End Price Details -->

            <!-- Button -->
            <div class="wrapper-v-md">
              <a>
                <%= link_to "Sign Up", new_subscriber_path, method: :get, class: "btn btn-sm btn-border-silver smooth-scroll" %>
              </a>
            </div>
            <!-- /End Button  -->

          </div>
        </div>
        <!-- /End Pricing Block 1 -->

        <!-- Pricing Block 2 -->
        
        <!-- /End Pricing Block 2 -->

        <!-- Pricing Block 3 -->
        
        <!-- Pricing Block 3 -->

      </div>
    </div>
  </section>


  <!-- ============================
       Video Section
  ================================= -->

  


  <!-- ============================
       Testimonials Section
  ================================= -->

  


  <!-- ============================
       Newsletter Section
  ================================= -->

  


  <!-- ============================
        Partner Section
  ================================= -->

  


  <!-- ============================
       Gallery Section
  ================================= -->

  


  <!-- ============================
       Facts Section
  ================================= -->

  


  <!-- ============================
       Contact Section
  ================================= -->

  


  <!-- ============================
       Company Section
  ================================= -->

  <section id="company" class="bg-white section-p-sm">
    <div class="container reveal-bottom-opacity">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-md-0 col-sm-offset-0 wrapper-v-lg">
          <div class="row">

            <!-- Contact Details -->
            <div class="col-sm-4 wrapper-v-sm block-line">

              <!-- Icon -->
              <div class="block icon-md icon-color">
                <i class="fa fa-map"></i>
              </div>
              <!-- /End Icon -->

              <!-- Address -->
              <div class="block text-left">
                <p>45 Park Avenue,<br>
                  New York, NY 10016</p>
              </div>
              <!-- /End Address -->

            </div>
            <!-- /End Contact Details -->

            <!-- Contact Details -->
            <div class="col-sm-4 wrapper-v-sm block-line">

              <!-- Icon -->
              <div class="block icon-md icon-color">
                <i class="fa fa-paper-plane"></i>
              </div>
              <!-- /End Icon -->

              <!-- Address -->
              <div class="block text-left">
                <p><a class="link-dark" href="mailto:contact@dialholic.com">contact@dialholic.com</a>
                </p>
              </div>
              <!-- /End Address -->

            </div>
            <!-- /End Contact Details -->

            <!-- Contact Details -->
            <div class="col-sm-4 wrapper-v-sm block-line">

              <!-- Icon -->
              <div class="block icon-md icon-color">
                <i class="fa fa-phone"></i>
              </div>
              <!-- /End Icon -->

              <!-- Address -->
              <div class="block text-left">
                <p>Tel.<a class="link-dark" href="tel:018328292659"> +1 832-829-2659</a></p>
              </div>
              <!-- /End Address -->

            </div>
            <!-- /End Contact Details -->

          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- ============================
       Footer
  ================================= -->


<!-- /End Main -->

<!-- Back to Top Button -->
<a href="#page" class="btn-circle btn-circle-lg btn-color btn-top smooth-scroll">
  <i class="fa fa-angle-up"></i>
</a>
<!-- /End Back to Top Button -->


<!-- Scripts -->
<!-- Custom Script -->
</body>
</html>