<section id="pricing" class="bg-white section-p-lg">
    <div class="container reveal-bottom-opacity">
      <div class="row text-center">

        <!-- Headline & Description-->
        <div class="col-sm-8 col-sm-offset-2 wrapper-v-lg text-center">
          <h2>Simple Plans</h2>

          <p>Pay less then a gum for your phone line.</p>
        </div>
        <!-- /End Headline & Description-->

      </div>

      <div class="row">
        <!-- Pricing Block 1 -->
        <div class="col-sm-4 wrapper-v-lg wrapper-h-xs-md text-center col-md-offset-4">
          <div class="price-plan">
            <h4 class="text-uppercase">Starter</h4>

            <!-- Price -->
            <div class="price-marker">
              <p class="price">$0<span class="price-cent">97*</span><br>
                <span class="price-period">/day/user</span></p>
            </div>
            <!-- /End Price -->

            <!-- Price Details -->
            <ul class="price-details">
              <li>Unlimited US and Canada calling</li>
              <li>1 Phone number included</li>
              <li>40+ amazing features</li>
              <li>Full Customer Service</li>
              <li>learn more</li>
            </ul>
            <!-- /End Price Details -->

            <!-- Button -->
            <div class="wrapper-v-md">
              <a>
                <%= link_to "Sign Up", new_subscriber_path, method: :get, class: "btn btn-sm btn-border-silver smooth-scroll" %>
              </a>
            </div>
            <!-- /End Button  -->

          </div>
        </div>
        <!-- /End Pricing Block 1 -->

        <!-- Pricing Block 2 -->
        
        <!-- /End Pricing Block 2 -->

        <!-- Pricing Block 3 -->
        
        <!-- Pricing Block 3 -->

      </div>
    </div>
  </section>