<div class="body-login">
  <div class="login">
  		<div class="login-screen">
  			<div class="app-title">
          <h2>Log in</h2><br>
        </div>
        <div class="login-form">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="control-group">
              <%= f.email_field :email, autofocus: true, class: 'login-field', placeholder: "Email" %>
            </div>
          
            <div class="control-group">
              <%= f.password_field :password, autocomplete: "off", class: 'login-field', placeholder: "Password" %>
            </div>
          
            <% if devise_mapping.rememberable? -%>
              <div class="control-group">
                <%= f.check_box :remember_me %>
              </div>
            <% end -%>
          
            <div class="wrapper-v-lg">
              <%= f.submit "Log in", class: 'btn btn-primary btn-large btn-block' %>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
  		</div>
  </div>
</div>