<%= form_tag subscribers_path do %>

  <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
  <% end %>
  <p>
    <label class="amount">
      <h5>Number of Users: <%= current_user.lines %></h5><br>
      <% if current_user.whichmodel == "Business" %>
            <% if current_user.lines < 11 %>
                <h5>Plan: $0.97</h5><br>
                <h5>Period: 30 days</h5><br><br>
                <h5>Total: $<%= current_user.lines * 0.97 * 30 %></h5><br><br>
            <% else %>
                <h5>Plan: $0.84</h5><br>
                <h5>Period: 30 days</h5><br><br>
                <h5>Total: $<%= current_user.lines * 0.84 * 30 %></h5><br><br>
            <% end %>
        <% else %>
            <h5>Plan: $0.84</h5><br>
            <h5>Period: 30 days</h5><br><br>
            <h5>Total: $<%= current_user.lines * 0.84 * 30 %></h5><br><br>
        <% end %>
      <%=link_to "Change Setting", edit_user_registration_path %>
    </label>
  </p>
  <p>
    <%= label_tag(:couponCode, 'Coupon:') %>
    <%= text_field_tag(:couponCode) %>
  </p>
  
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.application.secrets.stripe_publishable_key %>"
          data-description="A month's subscription"
          data-amount=""></script>
<% end %>