<div class="body-login">
  <div class="login">
  		<div class="login-screen">
  		    <div class="app-title">
                <h2>Final Step</h2><br>
            </div>
                <p>This is the final step to give you full access</p>  
                <%= render 'form' %>
        </div>
    </div>
</div>