<!-- Preloader -->


<!-- Main -->
<div id="page" class="light-version">


  <!-- ============================
       Navigation Header
  ================================= -->

  <header id="nav" class="light-nav">

    <!-- Sticky Navigation -->
    <!-- for static Navbar: remove navbar-fixed-top; add navbar-static-top and navbar-light-->
    <nav class="navbar navbar-static-top navbar-light">
      <div class="container">
        <div class="navbar-header">

          <!-- Menu Button for Mobile Devices -->
          <button type="button" class="collapse navbar-toggle navbar-icon" data-toggle="collapse"
                  data-target="#navbar-collapse">
            <span></span>
            <span></span>
            <span></span>
          </button>

          <!-- Logo -->
          <a href="#page" class="navbar-brand logo-color smooth-scroll"><span></span></a>

        </div>
        <!-- /End Navbar hero -->

        <div class="collapse navbar-collapse-md" id="navbar-collapse">

          <!-- Navigation Links -->
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Home", root_path %></li>
            <li><a href="/static/home" class="smooth-scroll">Personal</a></li>
            <li><a href="/static/biz" class="smooth-scroll">Business</a></li>
            <li><a href="" class="smooth-scroll">Features</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Pricing <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/static/bizpricing" class="smooth-scroll">Business</a></li>
                  <li><a href="/static/perpricing" class="smooth-scroll">Residential</a></li>
                </ul>
              </li>
          </ul>

          <!-- Social Links -->
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", edit_user_registration_path %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Log in", new_user_session_path %></li>
            <% end %>
          </ul>
          <!-- /End Navigation Links -->

        </div>
        <!-- /End Navbar Collapse -->

      </div>
    </nav>
    <!-- /END Sticky Navigation -->

  </header>
</div>