<!DOCTYPE html>
<html>
  <head>
    <title>DailHolic – Future of Communication</title>
    <meta name="description"
          content="Best phone service provider"/>
    <meta name="keywords"
          content="Voip, Phone, Phone Provider, Cheap Phone, Cloud Phone, UC"/>
    <meta name="author" content="Egotype">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
<body>
    <% if content_for?(:navbar) %>
      <%= yield(:navbar) %>
    <% else %>
      <%= render 'layouts/header1' %>
    <% end %>
    
    <%= yield %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>
    <%= render 'layouts/footer' %>

</body>
</html>
